body {
    background-image: url;
    color: #000305;
    font-size: 87.85%
    font-family : 'Raleway';
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    
}

a:hover, a:active {
    
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainheader img{
    width: 23%;
    height: auto;
    margin: 2% 0;
}

.mainheader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
}
.mainheader ul li {
    float: left;
    display: inline;
}
.mainheader nav a:link, .mainheader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height:
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visisted {
    background-color: #CF5C3F;
    text-shadow: none;
}

.mainheader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius:  5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}

.content {
    width: 70%;
    float: left;
}

.topcontent {
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
}

.top-sidebar {
    width: 25%;
    float: left;
    background-color: #FFF;
}